.container{
  margin-left: 50px;

}
#root {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  position: absolute;

}
.modalTitle{
  color: #29AB87;
  text-align: center;
}
.modalInput{
    margin-top: 5px;
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    width: 100%;
    height: 35px;
    border-width: 0px;
    border-radius: 3px;
    background-color: #f8f8f8;

}
.Overlay {
  position: fixed;
    inset: 0px;
  background-color: rgba(0, 0, 0, .5) !important;

}
.btn-login{
  background-color: #29AB87;
    border-radius: 0px;
    color: #ffff;
    font-weight: bold;
}
