.change-data {
  background-color: #fff;
  border: 1px double #eee;
  color: rgb(41, 146, 208);
  padding: 15px;
  display: flex;
  align-items: cener;
  font-size: 13px;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.fetching {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 20px 0;
  font-weight: 200;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-option-wrapper {
  display: flex;
  align-items: center;
}

.selected-option {
  margin-right: 10px;
}
.css-4xgw5l-IndicatorsContainer2 {
  height: 25px !important;
}
.css-1jqq78o-placeholder {
  font-size: 10px !important;
}
.css-13cymwt-control {
  height: 28px !important;
  border-radius: 0px !important;
  min-height: 25px !important;
  margin-bottom: 3px;
}

.css-1dimb5e-singleValue{
  font-size: 10px !important;
}
